.btn-primary {
  background-color: #4e8be2 !important;
}

.btn-secondary {
  background-color: #fe8865 !important;
}

.btn-large {
  cursor: pointer;
  font-size: min(25px, 7vw);
  letter-spacing: 1.5px;
  font-family: "Raleway-Light" !important;
  padding: 0 !important;
  height: 52px !important;
  line-height: 52px;
  width: 238px;
  border-radius: 52px !important;
  border: none !important;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.6) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4) !important;
  margin: 12px;
}
.btn {
  font-family: "Lato-Light";
  color: white;
  text-align: center;
  background-color: #777;
  padding: 8px 32px;
  border-radius: 24px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.btn:focus {
  outline: none;
}

.btn-secondary:focus {
  background-color: #fe6445 !important;
}

.btn-primary:focus {
  background-color: #2b6bb7 !important;
}

@media only screen and (max-width: 767.98px) {
  .btn-large {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1025px) {
}
@media only screen and (min-width: 1200px) {
}
