:root {
  --bg-color: #171836; /* Dark Theme */
}
html, body {
  margin: 0;
  padding:0;
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #c2ebff; /* Light Theme */
  }
}