:root {
  /* --bg-color: #171836; */
  --bg-color: #000;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/dist/assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('/dist/assets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/dist/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/dist/assets/fonts/Montserrat-SemiBold.ttf');
}
html, body {
  margin: 0;
  padding:0;
  background-color: var(--bg-color);
}

.section-title {
  font-family: 'Montserrat-SemiBold';
  text-align: center;
  letter-spacing: 0.5ch;
  color: #4e8be2;
}

section {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --bg-color: #c2ebff; */
    --bg-color: #fff;
  }
}