.project-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.project-wrapper .seperator {
  flex: 1;
}

.highlighted {
  font-family: "Lato-Bold";
  color: white;
}

.project-thumbnail-wrapper {
  flex: 1;
  /* align-self: flex-end; */
  /* justify-self: flex-end; */
}

.project-thumbnail-wrapper .project-thumbnail-img {
  /* width: 100%; */
  max-width: 100%;
}

.project-about {
  flex: 1;
}

.project-title {
  font-family: "Lato-Bold";
  text-transform: uppercase;
  color: #4e8be2;
}

.project-description {
  font-family: "Lato-Regular";
  font-size: 0.85rem;
  color: #8f8f8f;
}

.project-link:link {
  text-decoration: none;
}

.project-link:visited {
  text-decoration: none;
}

.project-link:active {
  text-decoration: none;
}

.project-link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 767.98px) {
  .project-about {
    text-align: center;
    padding: 1%;
    margin: 1%;
  }
  .project-description {
    margin-bottom: 8%;
  }
  .project-wrapper {
    flex-direction: column;
  }

  .content-left {
    flex-direction: column-reverse !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024.98px) {
  .project-about {
    text-align: left;
    padding: 1%;
    margin: 1%;
  }
  .project-description {
    margin-bottom: 8%;
  }
  .project-wrapper .seperator {
    flex: 0;
  }
  .project-wrapper:nth-child(odd) .project-about {
    text-align: right;
  }
}
@media only screen and (min-width: 1025px) {
  .project-about {
    width: 20%;
    margin: 1%;
    padding: 1%;
  }

  .project-description {
    margin-bottom: 10%;
  }

  .content-left {
    flex-direction: row-reverse !important;
  }

  /* .project-thumbnail-wrapper {
    width: 20%;
    margin:1%;
    padding: 1%;
  } */
}
@media only screen and (min-width: 1200px) {
}

.inline-links {
  color: #4e8be2;
}
.inline-links:link {
  text-decoration: none;
}
.inline-links:active {
  text-decoration: none;
}
.inline-links:visited {
  text-decoration: none;
}
.inline-links:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  .highlighted {
    color: black;
  }
}
